.gradient-text {
  background: linear-gradient(78.81deg, #0158F7 7.03%, #7839EE 100%);
  -webkit-background-clip: text; /* For Safari */
  -webkit-text-fill-color: transparent; /* For Safari */
  background-clip: text;
  color: transparent; /* Fallback for browsers that do not support background-clip */
}
